@font-face {
    font-family: 'Meddon';
    src: url('./Fonts/Meddon-Regular.ttf');
}
@font-face {
    font-family: 'Caveat';
    src: url('./Fonts/Caveat-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Special';
    src: url('./Fonts/SpecialElite-Regular-Player.ttf');
}
/* Primary Color Pal
light blue: #C2DCF2
richer blue: #4480A6
muted blue: #5D7A8C
forrest green: #32402C
dark grey:#262626
*/

#background1{
    background-color: #5D7A8C;
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height:100vh;
    border:0px;
    margin:0px;
    padding:0px;
}
#background2{
    position: absolute;
    background-image: url('./Images/karsten-wurth-7BjhtdogU3A-unsplash.jpg');
    /* src: https://unsplash.com/photos/7BjhtdogU3A */
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    opacity: 60%;
}
#background3{
    position: absolute;
    background-color: #32402C;
    top: 90vh;
    left: 0px;
    width: 100vw;
    height: 100vh;
    border:0px;
    margin:0px;
    padding:0px;
}
#background4{
    position: absolute;
    background-color: #5D7A8C;
    top: 180vh;
    left: 0px;
    width: 100vw;
    height: 100vh;
}
#background5{
    position: absolute;
    background-color: #4480A6;
    top: 270vh;
    left: 0px;
    width: 100vw;
    height: 100vh;
}
#background6{
    position: absolute;
    background-color: #262626;
    top: 360vh;
    left: 0px;
    width: 100vw;
    height: 30vh;
}
#name{
    position: absolute;
    top: 15vh;
    left: calc(50vw - 12vw);
    height: 12vh;
    width: 24vw;
    font-family: 'Meddon';
    font-size: 6vh;
    word-wrap: break-word;
    text-align: center;
    color: #C2DCF2;
    background-color: #262626;
}
#fullStack{
    position: absolute;
    top: 28vh;
    left: calc(50vw - 7vw);
    height: 3vh;
    width: 14vw;
    font-family: 'Caveat';
    font-size: 2vh;
    word-wrap: break-word;
    text-align: center;
    color: #C2DCF2;
    background-color: #262626;
}
#aboutMe{
    position: absolute;
    top: 34vh;
    left: calc(50vw - 7vw);
    height: 8vh;
    width: 14vw;
    font-family: 'Caveat';
    font-size: 6vh;
    word-wrap: break-word;
    text-align: center;
    color: #C2DCF2;
    background-color: #262626;
}
#projects{
    position: absolute;
    top: 45vh;
    left: calc(50vw - 7vw);
    height: 8vh;
    width: 14vw;
    font-family: 'Caveat';
    font-size: 6vh;
    word-wrap: break-word;
    text-align: center;
    color: #C2DCF2;
    background-color: #262626;
}
#skills{
    position: absolute;
    top: 56vh;
    left: calc(50vw - 7vw);
    height: 8vh;
    width: 14vw;
    font-family: 'Caveat';
    font-size: 6vh;
    word-wrap: break-word;
    text-align: center;
    color: #C2DCF2;
    background-color: #262626;
}
#contact{
    position: absolute;
    top: 67vh;
    left: calc(50vw - 7vw);
    height: 8vh;
    width: 14vw;
    font-family: 'Caveat';
    font-size: 6vh;
    word-wrap: break-word;
    text-align: center;
    color: #C2DCF2;
    background-color: #262626;
}
#aboutMeHeader{
    position: absolute;
    top:2vh;
    left:1vw;
    height: 8vh;
    width: 14vw;
    font-family: 'Caveat';
    font-size: 6vh;
    word-wrap: break-word;
    text-align: center;
    color: #C2DCF2;
    /* background-color: #262626; */
}
#aboutMePara1{
    position: absolute;
    top: 10vh;
    left: 10vw;
    height: 0vh;
    width: 80vw;
    font-family: 'Special';
    font-size: 3vh;
    word-wrap: break-word;
    color: #C2DCF2;
    line-height: 5vh;
    
    /* background-color: #262626; */
}
#aboutMePara2{
    position: absolute;
    top: 50vh;
    left: 10vw;
    height: 0vh;
    width: 80vw;
    font-family: 'Special';
    font-size: 3vh;
    word-wrap: break-word;
    color: #C2DCF2;
    line-height: 5vh;
    
    /* background-color: #262626; */
}
mark{
    background-color: #262626;
    color:#C2DCF2;
    line-height: 7vh;
}
.tab{
    text-indent: 40px;
}
#projectsHeader{
    position: absolute;
    top:2vh;
    left:1vw;
    height: 8vh;
    width: 14vw;
    font-family: 'Caveat';
    font-size: 6vh;
    word-wrap: break-word;
    text-align: center;
    color: #C2DCF2;
    /* background-color: #262626; */
}
#skillsHeader{
    position: absolute;
    top:2vh;
    left:1vw;
    height: 8vh;
    width: 14vw;
    font-family: 'Caveat';
    font-size: 6vh;
    word-wrap: break-word;
    text-align: center;
    color: #C2DCF2;
    /* background-color: #262626; */
}
#contactHeader{
    position: absolute;
    top: 2vh;
    left: calc(50vw - 7vw);
    height: 3vh;
    width: 14vw;
    font-family: 'Caveat';
    font-size: 6vh;
    word-wrap: break-word;
    text-align: center;
    color: #C2DCF2;
    background-color: #262626;
}
